.organizadoras {
  padding: 60px 10%;
  border-top: 2px solid #c9797d;
  text-align: center;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.titulo img {
  width: 50px;
  height: 50px;
}

.titulo h1 {
  font-size: 30px;
  color: #cf8a8d;
}

.pessoas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  justify-items: center;
}

.pessoa {
  text-align: center;
}

.foto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.foto img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .titulo {
    flex-direction: column;
    gap: 8px;
  }

  .titulo h1 {
    font-size: 24px;
  }
}

