.anuncio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anuncio img {
  width: 100%;
  height: 430px;
  margin: 0;
}

.tudo {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 3%;
  flex-wrap: wrap;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
  color: #cf8a8d;
}

.texto img {
  position: relative;
  left: -50px;
  top: 70px;
}

.circulo {
  flex: 0 0 300px;
  height: 300px;
  background-color: #cf8a8d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

.circulo:hover {
  transform: scale(1.2);
}

.circulo h1 {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

.circulo p {
  color: white;
  font-size: 16px;
  line-height: 1.4;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .tudo {
    flex-direction: column;
    align-items: center;
  }

  .circulo {
    margin-top: 30px;
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
  }
}

