.pagina {
  background-color:  #ffe8f0;
  min-height: 100vh;
  padding-bottom: 60px;
  font-family: Arial, sans-serif;
}

.banner {
  background-color: #f9cfd8;
  color: white;
  text-align: center;
  padding: 60px 20px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.conteudo {
  padding: 40px 10%;
  text-align: center;
  color: #5e3c3f;
}

.titulo {
  font-size: 26px;
  color: #b55b64;
  margin-bottom: 20px;
}

.descricao {
  max-width: 900px;
  margin: 0 auto 40px;
  font-size: 17px;
  line-height: 1.6;
}


.videoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.watchButton {
  display: inline-block;
  background: linear-gradient(90deg, #cf8a8d, #b55b64);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 6px 14px rgba(181, 91, 100, 0.25);
  transition: transform 0.2s ease;
}

.watchButton:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #b55b64, #9c4048);
}


.thumbnail {
  width: 100%;
  max-width: 900px;
  border-radius: 12px;
  display: block;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  object-fit: cover;
}

.Section {
  margin-top: 60px;
  background-color: #ffe8f0;
  border-radius: 12px;
  padding: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.Section h3 {
  color: #b55b64;
  margin-bottom: 10px;
  font-size: 20px;
}

.Texto {
  font-style: italic;
  color: #5e3c3f;
  font-size: 18px;
  margin-bottom: 10px;
}

.Autor {
  color: #a14b53;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .banner {
    font-size: 22px;
    padding: 40px 15px;
  }

  .titulo {
    font-size: 22px;
  }

  .descricao {
    font-size: 16px;
    padding: 0 10px;
  }
}


